div.emess{
	margin: auto;
	margin-top: 2em;
	border: solid;
	width:  830px;
	height: 535px;
	background-image: url('../images/error.png');
	background-size: 830px 535px;
}
h1.er{
	position: relative;
	left: 5em;
	top: 1em;
	font-size: 3em;
	font-family: monospace;
	text-transform:uppercase;
}
p.per{
	position: relative;
	left: 1.7em;
	top: 4em;
	font-size: 2.1em;
	font-family: monospace;
	text-indent: 2em;
}
a.emess{
	font-family: monospace;
	font-style: italic;
	font-size: .9em;
}
