* {
	color: #000;
	padding: 0px;
	margin: 0 auto;
}

.empty {
	opacity: 0.6;
}

.home_img{
	width: 140px;
	height: 120px;
}

body {
	background-image: url('../images/bg_page.png');	
}

.wrapper {
	color: #000;
	width: 1200px;
}

.header {
	width: 100%;
	height:120px;
	border: 2px solid #000;
	background-color: #E5FDE0;
}

.content {
	position: relative;
	min-height: 500px;
	width:100%;
	border: 2px solid #000;
	background-color: #E5FDE0;
}

.footer {
	width: 100%;
	height:100px;
	border: 2px solid #000;
	background-color: #31574A;
}

hr {
	margin-top: 5px;
	margin-bottom: 5px;
}

/*Блок вывода ошибок начало*/
.message {
	position: absolute;
	width: 250px;
	margin-left: 35%;
	margin-top: -85%;
	display: none;
    font-size: 12px;
	border: 1px solid red;
	padding: 5px;
	border-radius: 10px;
	text-align: center;
	background: -moz-linear-gradient(top,  #feffff 0%, #d2ebf9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffff), color-stop(100%,#d2ebf9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #feffff 0%,#d2ebf9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #feffff 0%,#d2ebf9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #feffff 0%,#d2ebf9 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #feffff 0%,#d2ebf9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#d2ebf9',GradientType=0 ); /* IE6-9 */
}

.error-login{
	position: absolute;
	width: 390px;
	margin-left: 200px;
	margin-top: -64px;
	display: none;
    font-size: 12px;
	border: 1px solid red;
	padding: 5px;
	text-align: center;
	border-radius: 10px;
	background: #feffff;
	background: -moz-linear-gradient(top,  #feffff 0%, #d2ebf9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffff), color-stop(100%,#d2ebf9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #feffff 0%,#d2ebf9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #feffff 0%,#d2ebf9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #feffff 0%,#d2ebf9 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #feffff 0%,#d2ebf9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#d2ebf9',GradientType=0 ); /* IE6-9 */

	
}

.error-password{
	position: absolute;
	width: 250px;
	margin-left: 200px;
	margin-top: -32px;
	display: none;
    font-size: 12px;
	border: 1px solid red;
	padding: 5px;
	text-align: center;
	border-radius: 8px;
	background: -moz-linear-gradient(top,  #feffff 0%, #d2ebf9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffff), color-stop(100%,#d2ebf9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #feffff 0%,#d2ebf9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #feffff 0%,#d2ebf9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #feffff 0%,#d2ebf9 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #feffff 0%,#d2ebf9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#d2ebf9',GradientType=0 ); /* IE6-9 */
}

.error-confirm{
	position: absolute;
	width: 250px;
	margin-left: 200px;
	margin-top: -32px;
	display: none;
    font-size: 12px;
	text-align: center;
	border: 1px solid red;
	padding: 5px;
	border-radius: 8px;
	background: -moz-linear-gradient(top,  #feffff 0%, #d2ebf9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffff), color-stop(100%,#d2ebf9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #feffff 0%,#d2ebf9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #feffff 0%,#d2ebf9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #feffff 0%,#d2ebf9 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #feffff 0%,#d2ebf9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#d2ebf9',GradientType=0 ); /* IE6-9 */
}

.error-name{
	position: absolute;
	width: 300px;
	margin-left: 200px;
	margin-top: -40px;
	display: none;
    font-size: 12px;
	border: 1px solid red;
	padding: 5px;
	text-align: center;
	border-radius: 8px;
	background: -moz-linear-gradient(top,  #feffff 0%, #d2ebf9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffff), color-stop(100%,#d2ebf9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #feffff 0%,#d2ebf9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #feffff 0%,#d2ebf9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #feffff 0%,#d2ebf9 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #feffff 0%,#d2ebf9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#d2ebf9',GradientType=0 ); /* IE6-9 */
}

.error-captcha{
	position: absolute;
	width: 300px;
	margin-left: 200px;
	margin-top: -40px;
	display: none;
    font-size: 12px;
	border: 1px solid red;
	padding: 5px;
	text-align: center;
	border-radius: 8px;
	background: -moz-linear-gradient(top,  #feffff 0%, #d2ebf9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffff), color-stop(100%,#d2ebf9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #feffff 0%,#d2ebf9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #feffff 0%,#d2ebf9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #feffff 0%,#d2ebf9 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #feffff 0%,#d2ebf9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#d2ebf9',GradientType=0 ); /* IE6-9 */
}

.error-email{
	position: absolute;
	width: 300px;
	margin-left: 200px;
	margin-top: -20px;
	display: none;
    font-size: 12px;
	border: 1px solid red;
	padding: 5px;
	text-align: center;
	border-radius: 8px;
	background: -moz-linear-gradient(top,  #feffff 0%, #d2ebf9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffff), color-stop(100%,#d2ebf9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #feffff 0%,#d2ebf9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #feffff 0%,#d2ebf9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #feffff 0%,#d2ebf9 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #feffff 0%,#d2ebf9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#d2ebf9',GradientType=0 ); /* IE6-9 */
}

.error-avatar{
	position: absolute;
	width: 300px;
	margin-left: 200px;
	margin-top: -60px;
	display: none;
	text-align: center;
    font-size: 12px;
	border: 1px solid red;
	padding: 5px;
	border-radius: 8px;
	background: -moz-linear-gradient(top,  #feffff 0%, #d2ebf9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffff), color-stop(100%,#d2ebf9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #feffff 0%,#d2ebf9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #feffff 0%,#d2ebf9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #feffff 0%,#d2ebf9 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #feffff 0%,#d2ebf9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#d2ebf9',GradientType=0 ); /* IE6-9 */
}

/*Блок вывода ошибок конец*/

/*Страница входа начало блока*/

fieldset.login {
	font-size: 1.1em;
	position: relative;
	margin: 80px auto;
	width: 320px;
	background-color: #A0FD8D;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

fieldset.login  .section_input{
	margin-top: 10px;
}

.input_login{
	margin-left: 20px;
}

.input_password{
	margin-left: 12px;
}

fieldset.login  input{
	font-size: 1em;
	width: 150px;
	height: 30px;
	padding-left:33px;
	border:2px solid transparent;
}

.input_password {
	background-image: url('../images/pass.png');
	background-repeat: no-repeat;
	background-attachment: scroll;
}

.input_login {
	background-image: url('../images/login.png');
	background-repeat: no-repeat;
	background-attachment: scroll;
}

fieldset.login .section_input:hover{
	background-color: #ccc;
	box-shadow:  0px 0px 10px rgba(0,0,0,0.5);
}

fieldset.login  legend {
	margin-left: 40%;
}

fieldset.login  form {
	margin-top: 20px;

}

fieldset.login  label {
	font-size: 1em;
	width: 80px;
	margin-left: 20px;
}

fieldset.login .button button{
	margin-left: 40%;
	margin-top: 10px;
	margin-bottom: 20px;
	width: 80px;
	height: 35px;
	font-size: 1.1em;
}

fieldset.login  a {
	font-size: .8em;
	text-decoration: none;
}

fieldset.login  a:hover {
	color: #090974;
	font-size: .8em;
	text-decoration: none;
}
/*Страница входа конец блока*/

/*Страница регистрации начало блока*/

fieldset.register {
	position: relative;
	margin: 70px auto;
	width: 40%;
	padding-top: 20px;
	font-size: 1.1em;
	background-color: #A0FD8D;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

fieldset.register legend {
	margin-left: 35%;
	font-size: 1.1em;
}

.register .label {
	padding-right: 6px;
	font-size: 1em;
	
}

.register .input {
	padding-left: 4px;
	font-size: 1em;
	border: 2px solid transparent;
}

fieldset.register tr{
	height: 40px;
}


.error-box {
	color: red;
    font-size: 12px;
}

fieldset.register tr:hover{
	background-color: #ccc;
	box-shadow:  0px 0px 10px rgba(0,0,0,0.5);

}

fieldset.register  #back{
	margin-left: 30%;
	margin-top: 10px;
	margin-bottom: 20px;
	width: 80px;
	height: 35px;
	font-size: 1.1em;
}

fieldset.register  #reg{

	margin-top: 10px;
	margin-bottom: 20px;
	width: 120px;
	height: 35px;
	font-size: 1.1em;
}
/*Страница регистрации кнопка загрузки начало*/
#upload_button {
	text-align: center;
	overflow: hidden;
	width: 120px;
	height:26px;
	border: 1px solid #038f1a; 
	border-radius:10px ;
	background: #f2f6f8; /* Old browsers */
	background: -moz-linear-gradient(top,  #f2f6f8 0%, #d8e1e7 50%, #b5c6d0 51%, #f2f6f8 74%, #e0eff9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f6f8), color-stop(50%,#d8e1e7), color-stop(51%,#b5c6d0), color-stop(74%,#f2f6f8), color-stop(100%,#e0eff9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#f2f6f8 74%,#e0eff9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#f2f6f8 74%,#e0eff9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#f2f6f8 74%,#e0eff9 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#f2f6f8 74%,#e0eff9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=0 ); /* IE6-9 */

}

#upload_button:hover {
	background: #e1ffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #e1ffff 0%, #e1ffff 7%, #e1ffff 12%, #fdffff 12%, #e6f8fd 30%, #c8eefb 54%, #bee4f8 75%, #b1d8f5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e1ffff), color-stop(7%,#e1ffff), color-stop(12%,#e1ffff), color-stop(12%,#fdffff), color-stop(30%,#e6f8fd), color-stop(54%,#c8eefb), color-stop(75%,#bee4f8), color-stop(100%,#b1d8f5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e1ffff 0%,#e1ffff 7%,#e1ffff 12%,#fdffff 12%,#e6f8fd 30%,#c8eefb 54%,#bee4f8 75%,#b1d8f5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e1ffff 0%,#e1ffff 7%,#e1ffff 12%,#fdffff 12%,#e6f8fd 30%,#c8eefb 54%,#bee4f8 75%,#b1d8f5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e1ffff 0%,#e1ffff 7%,#e1ffff 12%,#fdffff 12%,#e6f8fd 30%,#c8eefb 54%,#bee4f8 75%,#b1d8f5 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e1ffff 0%,#e1ffff 7%,#e1ffff 12%,#fdffff 12%,#e6f8fd 30%,#c8eefb 54%,#bee4f8 75%,#b1d8f5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1ffff', endColorstr='#b1d8f5',GradientType=0 ); /* IE6-9 */

}

#upload_text {
	color: #000;
	font-size: 16px;
	font-weight: bold;
	margin-top: 3px;
}

#upload_input {
	margin-top: -50px;
	margin-left:-200px;
	-moz-opacity: 0;
	-khtml-opacity: 0;
	-o-opacity: 0;
	-webkit-opacity: 0;
	filter: alpha(opacity=0);
	opacity: 0;
	font-size: 150px; 
	height: 100px;
}

/*Страница регистрации кнопка загрузки конец*/
/*Страница регистрации конец блока*/

/*Страница восстановления пароля начало блока*/

.forgot_password {
	font-size: 1.1em;
	margin: 120px auto;
	width: 40%;
	padding-top: 20px;
}

.forgot_password .label {
	padding-right: 10px;
}

.forgot_password .input {
	padding-left: 5px;
	font-size: 1.1em;
	margin-bottom: 20px;
	width: 180px;
}

.forgot_password   #back{
	margin-left: 24%;
	margin-top: 10px;
	margin-bottom: 20px;
	width: 80px;
	height: 35px;
	font-size: 1.1em;
}

.forgot_password   #recover{
	margin-top: 10px;
	margin-bottom: 20px;
	width: 130px;
	height: 35px;
	font-size: 1.1em;
}

fieldset.change_forgot_password {
	position: relative;
	margin: 70px auto;
	width: 40%;
	padding-top: 20px;
	font-size: 1.1em;
	background-color: #A0FD8D;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

fieldset.change_forgot_password legend {
	margin-left: 35%;
	font-size: 1.1em;
}

.change_forgot_password .label {
	padding-right: 6px;
	font-size: 1em;
	
}

.change_forgot_password .input {
	padding-left: 4px;
	font-size: 1em;
	border: 2px solid transparent;
}

fieldset.change_forgot_password tr{
	height: 40px;
}


.error-box {
	color: red;
    font-size: 12px;
}

fieldset.change_forgot_password tr:hover{
	background-color: #ccc;
	box-shadow:  0px 0px 10px rgba(0,0,0,0.5);

}

fieldset.change_forgot_password  #back{
	margin-left: 30%;
	margin-top: 10px;
	margin-bottom: 20px;
	width: 80px;
	height: 35px;
	font-size: 1.1em;
}

fieldset.change_forgot_password  #change_forgot_pass{
	margin-top: 10px;
	margin-bottom: 20px;
	width: 125px;
	height: 35px;
	font-size: 1.1em;
}
/*Страница восстановления пароля конец блока*/

/*Страница профиля начало блока*/
fieldset.profile {
	position: relative;
	margin: 70px auto;
	width: 40%;
	padding-top: 20px;
	font-size: 1.1em;
	background-color: #A0FD8D;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

fieldset.profile legend {
	margin-left: 35%;
	font-size: 1.1em;
}

.profile .label {
	padding-right: 6px;
	font-size: 1em;
	
}

.profile .input {
	padding-left: 4px;
	font-size: 1em;
	border: 2px solid transparent;
}

fieldset.profile tr{
	height: 40px;
}


.error-box {
	color: red;
    font-size: 12px;
}

fieldset.profile tr:hover{
	background-color: #ccc;
	box-shadow:  0px 0px 10px rgba(0,0,0,0.5);

}

fieldset.profile  #back{
	margin-left: 30%;
	margin-top: 10px;
	margin-bottom: 20px;
	width: 80px;
	height: 35px;
	font-size: 1.1em;
}

fieldset.profile  #changePass{
	margin-top: 10px;
	margin-bottom: 20px;
	width: 125px;
	height: 35px;
	font-size: 1.1em;
}
/*Страница профиля конец блока*/

/*Страница кабинетов начало блока*/
.button_for_registered {
	margin-top: -100px;
	margin-left: 900px; 
	font-size: 1.1em;
}

.button_for_registered #profile {
	margin-top: 10px;
	margin-bottom: 20px;
	width: 100px;
	height: 35px;
	font-size: 1.1em;
}

.button_for_registered #logout {
	margin-top: 10px;
	margin-bottom: 20px;
	width: 100px;
	height: 35px;
	font-size: 1.1em;
}

.cabinets_table {
	width: 90%;
	margin: 30px auto;
}

.cabinets_table th {
	width: 20%;
}

.cabinets_table  .first_row{
	background-color: #827B1B;
	
}

.cabinets_table tr {
	background-color: #CECDCF;
	text-align: center;
}

.cabinets_table tr:hover {
	background-color: #8BCE90;
}

.cabinets_table tr:selection {
	background-color: #8BCE90;
}

.cabinet_button   #back{
	margin-left: 35%;
	margin-top: 10px;
	margin-bottom: 20px;
	width: 80px;
	height: 35px;
	font-size: 1.2em;
}

.cabinet_button   #create{
	margin-top: 10px;
	margin-bottom: 20px;
	width: 130px;
	height: 35px;
	font-size: 1.2em;
}

.cabinet_button   #refresh{
	margin-top: 10px;
	margin-bottom: 20px;
	width: 130px;
	height: 35px;
	font-size: 1.2em;
}

/*Страница кабинетов конец блока*/
